html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#chart {
  margin-bottom: 30px;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
  height: 250px;
  background-color: white;
}
